* {
  margin: 0;
  color: unset;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

#container-btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

body {
  min-height: 100vh;
  background-color: rgb(45, 45, 45);
}

#main-lista{
  display: grid;
  grid-template-rows: 50px auto auto;
}

header {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 650;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav img{
  width: 80px;
  margin: 8px 0px;
}
nav a{
  display: flex;
  align-items: center;
}

#conteiner-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#conteiner-selector select {
  text-align: left;
  padding: 5px 20px;
  border-radius: 3px;
  width: 180px;
  padding: 6px 10px 6px 0px;
}

#conteiner-cancion-objeto {
  display: grid;
  grid-template-columns: 20% auto 60px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(156, 156, 156);
}

#conteiner-cancion-objeto img {
  width: 100%;
  height:100%;
  border-radius: 2px;
}

#tituloYNombre {
  margin-left: 1em;
  display: grid;
  font-weight: 400;
  grid-template-rows: 1fr 1fr 1fr;
}

#tituloYNombre p {
  display: flex;
  align-items: center;
}

p i{
  margin-right: 5px;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 500;
}

#eliminar-btn{
  cursor: pointer;
  width:50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
}

#btn-agregar{
  cursor: pointer;
  margin-top: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

#boton-borrar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
}

#contenedor-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: rgb(156, 156, 156);
  padding: 4px 5px 15px 5px;
  border-radius: 5px;
}

form p, form button  {
  margin-bottom: 7px;
}
